In [37]:




print("hello wordl")

hello wordl

In [38]:
# learning from basic of pyhton 

print("hell world","hhhhh",sep="  ",end ="$")

hell world  hhhhh$

In [39]:
# this is a line continatition
p = 1+2+3+\
4
print(p)

10

In [ ]:
# writing the multiple statement in a single lione
x= 5;y = 10; z = x+y;print(z);
p = input("helll:"
"");print(p)

15

In [ ]:
age=input("enter" )
age = int(age)
if age==10:
  print("your age is true")
else:
  print("your age is :",age)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# write the program which can check the age of the candidate and determine if they can vote or not 
age = int(input("enter your age:"))

if age>=18 and age<=70:
  print("you can vote in this election")
elif age>70:
  print("you are too old ")
else:
  print("you are minor")

you can vote in this election

In [ ]:
range(1,4
      )

range(1, 4)

In [ ]:
for i in range(10,1,-2 ):
  print(i)

10
8
6
4
2

In [ ]:
for i in range(5):
  if(i==5):
    break
print(i)## this is a good usecase and its value is 4 because print in outside the loop so when loops end print statement will run and it will print(4) only

4

In [ ]:
for i in range(10): ##break will break the loop when condition is true
  if(i==5):
    break
  print(i)

0
1
2
3
4

In [5]:
##print a number from 1 t0 100 using nested loop

for i in range(1,100,10):
  
  for k in range(i,i+10):
    print(f"{k:2}" ,end=" ")
  print()
    
# first you need to know how many times nested loop need to run

 1  2  3  4  5  6  7  8  9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [24]:
# LIST
p = [1,3,4,5]
t =p.copy()
print(type(p))
print(t)

<class 'list'>
[1, 3, 4, 5]